<!-- <p-card styleClass="card-solucion" [header]="header" [subheader]="subHeader">
  <p-image alt="Card" [src]="imagen" styleClass="card-solucion-imagen"></p-image>
  <div></div>
  <ng-template pTemplate="footer">
    <div class="button-container flex mt-1" *ngIf="boton">
      <p-button
        class="card-solucion-button"
        (click)="metodoExterno()"
        [label]="boton.texto"
        styleClass="w-full"
        aria-label="{{ boton.texto }}"
      ></p-button>
    </div>
  </ng-template>
</p-card> -->
