html, body {
  width: 100vw  !important;;
  height: 100vh;
  overflow-x: hidden; /* Evita el scroll horizontal si algo desborda */
}

body {
  margin: 0;
  overflow: hidden; /* Evitar barras de scroll */
}

.imagen-fondo-1,
.imagen-fondo-2,
.imagen-fondo-3 {
  opacity: 0.65;
  background-attachment: fixed;
  background-size: cover;
}

.largo1Pantalla {
  width: 100vw;
  height: 100vh;
}

.imagen-fondo-1 {
  background-image: url("../../../assets/fondo-generico.jpg");
}

.imagen-fondo-2 {
  background-image: url("../../../assets/fondo-generico2.jpg");
}

.imagen-fondo-3 {
  background-image: url("../../../assets/img_parallax3.jpg");
}

.card-container {

  padding: 55rem 0 0 0;
}
#card-estudio-contable-img,
#card-estudio-juridico-img{

  display: inline-block;
}

.frase1 {
  text-align: center;
  font-style: italic;
  margin: 1em 0 0 0
}

::ng-deep .p-toolbar-group-right .p-button{

  font-family: 'Trirong', serif; 
  color: #350468; 
  font-size: 21px;
  font-weight: lighter;
}

.card-container-noticias {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Evita que las tarjetas se muevan a una nueva línea */
  overflow-x: auto;  /* Permite el scroll horizontal si las tarjetas no caben en una fila */
  width: 100%;
  gap: 3em; /* Espacio entre las tarjetas */
  margin-top: 10%;
}

.card-item-noticia {
  flex: 0 0 auto; /* Asegura que las tarjetas conserven su tamaño y no se redimensionen */
  display: flex;
  justify-content: center;
}

.card-noticia{
  width: 360px;
}
